@model diplomApp.Models.AddintionalUserInfo
@{
    ViewBag.Title = "Profile";
}


<div class="row text">
    <div class="col-12">
        <div class="mainimage">
            <img src='/Content/images/profile.jpg'>
            <span class='imagelabel green'>Личный кабинет</span>
        </div>

        <div class="profile" style="padding:40px;">
            <h2>Личный кабинет</h2>

            [ @Html.ActionLink("Выйти", "Logoff", new { controller = "Account" }) ]<hr />

            <h4>Личные данные</h4>
            [@Html.ActionLink("Редактировать", "EditUserData", new { controller = "Account" })] [@Html.ActionLink("Импорт данных из соц сети: Вконтакте", "RefreshUserData", new { controller = "Account" })]
            <div class="userData">
                <p><b>Логин: </b> @User.Identity.Name!</p>
                <p><b>Ф.И.О.    : </b></p>
                <p><b>Дата рождения: </b></p>
                <p><b>Город: </b></p>
                <p><b>Учебное заведение: </b></p>

                <dl class="dl-horizontal">
                                       <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FullName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FullName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DateOfBirth)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DateOfBirth)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Education)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Education)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ResultPercent)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ResultPercent)
                    </dd>

                </dl>
            </div>

        </div>
        <div class="userAvatar">
            <img src=" @Html.DisplayFor(model => model.PathToAvatar) " />
        </div>

        <hr />
    </div>

</div>


