@model diplomApp.Models.AddintionalUserInfo
@{
    ViewBag.Title = "Profile";
}


<div class="row text">
    <div class="col-12">
        <div class="mainimage">
            <img src='/Content/images/profile.jpg'>
            <span class='imagelabel green'>Личный кабинет</span>
        </div>

        <div class="profile" style="padding:40px;">
            <h2>Личный кабинет</h2>

            [ @Html.ActionLink("Выйти", "Logoff", new { controller = "Account" }) ]<hr />

            <h4>Личные данные</h4>
            [@Html.ActionLink("Редактировать", "EditUserData", new { controller = "Account" })] 
            [@Html.ActionLink("Импорт данных из соц сети: Вконтакте", "RefreshUserDataFromVk", new { controller = "Account" },new { onclick = "return confirm('Выполнение данного действия может перезаписать ваши текущие данные. Вы действительно хотите это сделать?');" })]
            <div class="userData">
                <table class="table">
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.PathToAvatar)</td>
                        <td><img src="@Html.DisplayFor(model => model.PathToAvatar)" style="width:450px;height:auto"/></td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Email)</td>
                        <td>@Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.FullName)</td>
                        <td>@Html.DisplayFor(model => model.FullName)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.DateOfBirth)</td>
                        <td>@Html.DisplayFor(model => model.DateOfBirth)</td>
                    </tr>
                    <tr>
                        <td> @Html.DisplayNameFor(model => model.City)</td>
                        <td> @Html.DisplayFor(model => model.City)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Education)</td>
                        <td>@Html.DisplayFor(model => model.Education)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.ResultPercent)</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"style="width: @Html.DisplayFor(model => model.ResultPercent)%"  aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                    </tr>
                </table>

        <hr />
    </div>
</div></div>
</div>


